
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section header
{
    <h2>Index</h2>
}

<div>
    @Html.ActionLink("Helper", "Helper", "Home")
</div>
<br />

<div>
    @Html.ActionLink("Standart Helper", "StandartHelper")
</div>
<br />

@section footer
{
    <h4>New footer</h4>
}
